<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431071947442-26bm6t5kgb69sr689rdau7l23ub091l1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431071947442-26bm6t5kgb69sr689rdau7l23ub091l1</string>
	<key>API_KEY</key>
	<string>AIzaSyBT08-SPkF4G-Tdbxn-0bz0R41Fqvj2p9w</string>
	<key>GCM_SENDER_ID</key>
	<string>431071947442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maurodiniz.appAgenda</string>
	<key>PROJECT_ID</key>
	<string>agenda-notification-ffd49</string>
	<key>STORAGE_BUCKET</key>
	<string>agenda-notification-ffd49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431071947442:ios:14e7e024a663139c</string>
	<key>DATABASE_URL</key>
	<string>https://agenda-notification-ffd49.firebaseio.com</string>
</dict>
</plist>